.stats_barra {
    height: 12px;
    border-radius: 24px;
    width: 60%;
    background: var(--branco);
}

.stats_hp {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #f23232;
    transform: translate(-1px);
}

.stats_atk {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #f08030;
    transform: translate(-1px);
}

.stats_def {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #f8d030;
    transform: translate(-1px);
}

.stats_spatk {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #6890f0;
    transform: translate(-1px);
}

.stats_spdef {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #78c850;
    transform: translate(-1px);
}

.stats_spd {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #f85888;
    transform: translate(-1px);
}

.stats_total {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 24px;
    background: #8a4aff;
    transform: translate(-1px);
}